  .post-details-display{
    position:relative;
  }
  .post-card{
    min-width:100%;
    max-width:100%;
    display:flex;
    margin:10px;
    padding:5px;
    border-bottom: 1px solid black;
  }
  
  .post-image{
    flex:1;
    display: flex;
    align-items: center;
    border-radius:10px;
  }
  h4{
    padding: 0; 
    margin: 0;
    font-size: 1.8rem;
    text-align: right;
    position: absolute;
    bottom:15px;
    right:0;
  }
  .post-image > img{
    min-height:85%;
    max-height:85%;
    min-width:100%; 
    max-width:100%;
    object-fit: contain;
    border-radius:10px;
  }
  .content{
    flex:3;
    padding-left: 10px;
    & h1{
      text-decoration: underline;
      margin:2px; 
      padding: 2px;
    }
  }
  p{
    font-size:1.8rem;
    margin:2px; 
    padding: 2px;
  }
  .conditional-links{
    width:10%;
   
  }
  .conditional-links > button{
    width:100px;
    border-radius:10px; 
    margin:10px;
    border:2px solid teal; 
    color:teal;
    &:hover{
      background-color: teal;
      color: white;
    }
  }

  @media screen and (max-width:1050px) {
    .post-card{
      flex-direction: column;
    }
    .conditional-links{
      flex-direction: row;
      width:100%;
    }
    .post-image > img{
      min-height:55%;
      max-height:55%;
      min-width:50%; 
      max-width:50%;
      object-fit: contain;
      border-radius:10px;
    }
  }