<div *ngIf="post$ | async as currentPost" class="post-details-display">
        <div class="post-card">
            <div class="post-image">
                <img src="{{currentPost.imgSrc}}">
            </div>
            <div class="content">
                <h1>{{currentPost.title}}</h1>
                <p><b>User Rating:</b> {{currentPost.rating}}</p>
                <p><b>Tasting Notes:</b>{{currentPost.tastingNotes}}</p>
                <h4>-{{currentPost.userProfile.userName}}</h4>
            </div>
            <div *ngIf="userId === currentPost.userProfile.id" class="conditional-links">
                <button [routerLink]="'/secure/update/'+currentPost.id">Edit</button>
                <button (click)="deletePost(currentPost.id)">Delete</button>
            </div>
        </div>
    