.menu-container{
    height:100%;
    width:100%;
    display: flex; 
}
.menu-item{
    background-color:rgb(189, 186, 186);
    background-color: #dddddd;
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
}
.menu-item > a{
    text-decoration: none;
    font-size:2rem;
    color: #011D3E;
    width:100%;
    text-align: center;
    &:hover{
        color: yellow; 
        background-color: #9CAB00;
        border-radius: 10px;
        align-self: center;
    }
}
@media screen and (max-width:1000px) {
    .menu-container{
      flex-direction: column;
      max-width:1000px;
    }
}

@media screen and (max-width:600px) {
    .menu-container{
        flex-direction: column;
        max-width:600px;
      }
}
@media screen and (max-width:400px) {
    .menu-container{
        flex-direction: column;
        max-width:400px;
        align-items: center;
      }
      .menu-item{
        width:100%;
      }
}