<div class="post-update-container">
    <div *ngIf="updatePost$ | async as currentPost">
    <div class="form-container">
       
    <form [formGroup]="form" (ngSubmit)="onSubmit(currentPost.id)">
        <h1>Update Your Post</h1>
        <div class="input-group">
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title">
            </div>
            <div class="input-group">
                <label for="rating">Rating: (1-10)</label>
                <input type="number" id="rating" formControlName="rating" min="1" max="10">
                </div>
                <div class="input-group">
                    <label for="tastingNotes">Tasting Notes:</label>
                    <input type="text" id="tastingNotes" formControlName="tastingNotes">
                </div>
                <div class="input-group">
                    <label for="imgSrc">Image:</label>
                    <input type="text" id="imgSrc" formControlName="imgSrc">
                </div>
    
        <button type="submit" [disabled] = "form.invalid"> Update </button>
    </form>
    </div>
</div>
