<div class="post-create-container">
    <div class="form-container">
    <form [formGroup]="postForm" (ngSubmit)="createPost()">
    <div class="input-group">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title">
    </div>
    <div class="input-group">
    <label for="rating">Rating: (1-10)</label>
    <input type="number" id="rating" formControlName="rating" min="1" max="10">
    </div>
    <div class="input-group">
    <label for="tastingNotes">Tasting Notes:</label>
    <input type="textarea" id="tastingNotes" formControlName="tastingNotes">
    </div>
    <div class="input-group">
    <label for="imgSrc">Img:</label>
    <input type="text" id="imgSrc" formControlName="imgSrc">
    </div>

    <button type="submit" [disabled] = "postForm.invalid"> create! </button>
</form>
</div>
</div>
<button type="button"><a routerLink="/secure/wines">Go Back</a></button>