<div *ngIf="currentWine$ | async as currentWine"> 
   <p>{{currentWine.name}}</p>
   <p>{{currentWine.vintage}}</p>
   <p>{{currentWine.tastingNotes}}</p>
   <h3>CREATE A POST?</h3>
   <button (click)="createAPost()" type="button">Write a Post</button>
   <p>POSTS:</p>
        <div *ngFor="let post of posts">
            <p>{{post.title}}</p>
            <p>{{post.tastingNotes}}</p>
            <p>{{post.userProfile.userName}}</p>
            <p>{{post.userProfile.id}}</p>
        </div>
</div>
<div>
    <a routerLink="/private/home">Back</a>
</div>
