<div class="grid-container">
    <div class="grid-item item1">
        <div class="content">
        </div>  
    </div>
    <div class="grid-item item2">
      
    </div>
    <div class="grid-item item3">
    </div>
    <div class="grid-item item4">
        <h2>Welcome!</h2>
        <div class="content">
            <p> We're pretty new here so keep an eye out for new features in the near and distant future!</p>
            <h3>Explore our Wine Collection</h3>
            <p>Search our extensive database of wines from around the world.</p>
            <p>Discover your favorite varietals, regions, and winemakers.</p>
            <p>Find the perfect wine to accompany any occasion or cuisine.</p>
        </div>  
    </div>
    <div class="grid-item item5">5</div>
  </div>