.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #410318;
    max-height:100vh;
    min-height:100vh;
    max-width:98.5vw;
    min-width:98.5vw;
    margin: auto 0; 
    padding:0;
    overflow: none;
    font-family: 'Edu QLD Beginner', cursive;
}