<div class="profile-container">
<div class="profile-display" *ngIf="currentUser$ | async as currentUser"> 
    <div class="polaroid">
        <img src="{{currentUser.imgSrc}}">
        <p class="caption">{{currentUser.tagline}}</p>
    </div>
    <div class="profile-content">
        <h3 id="tag"> {{currentUser.userName}}</h3>
        <p>My Wish List</p>
        <p>My Faves</p>
        <div class="follow">
        
        </div>
        <div class="follow">
         
        </div> 
    </div>
</div>
<!-- <div class="drop-down-posts" *ngIf="userPosts">
    <h1> My Posts: </h1>
    <div class="post-container">
        <div *ngFor="let p of userPosts">
            <p>{{p.title}}</p>
            <p>{{p.rating}}</p>
            <p>{{p.tastingNotes}}</p>
            <p></p>
        </div>
    </div> -->
<!-- 
</div>  -->
</div>