<div class="login-container">
        <form [formGroup]="form" (ngSubmit)="loginUser()">
            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email">
        
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password">
        
            <button type="submit" [disabled] = "form.invalid"> Login! </button>
        </form>
     


<p> Not Registered? Click Here to Register!</p>
<button type="button"><a routerLink="/public/register">Register</a></button>
</div>
